# Assignment 1
12000 reqemini verilmish listden chixarib print edin

my_list = [{'Tim': 20000, 'Mark': 12000}, ['car', 'laptop', 'TV']]

In [2]:
# Solution 1
my_list = [{'Tim': 20000, 'Mark': 12000}, ['car', 'laptop', 'TV']]
my_value = my_list[0]['Mark']
print(my_value)

12000

# Assignment 2

Ashaqidaki list-de m herfini x ile, ve social sozunu network ile evez edin

my_list = [(1, 2), (3, 4), (['c', 'd', 'a', 'm'], [3, 9, 4, 12], 4), 'social', 42]

In [3]:
# Solution 2
my_list = [(1, 2), (3, 4), (['c', 'd', 'a', 'm'], [3, 9, 4, 12], 4), 'social', 42]
my_list[2][0][3] = 'x'
my_list[3] =  'network'
print(my_list)

[(1, 2), (3, 4), (['c', 'd', 'a', 'x'], [3, 9, 4, 12], 4), 'network', 42]

# Assignment 3

Shekildeki ilk 5 bank uchun dataframe qurun

In [7]:
# Solution 3
import pandas as pd
data = {'№' : [1,2,3,4,5],
       'Bankin adi' : ['ABB', 'Accessbank', 'AFB bank', 'ASB', 'ATB'],
       'Mebleg AZN' : ['15000-dek', '30000-dek', '30000-dek', '20000-dek', '30000-dek'],
       'Muddet' : ['48 ayadek', '48 ayadek', '48 ayadek', '36 ayadek', '48 ayadek'],
       'Faiz derecesi' : ['18%', '14%', '15%', '16%', '18%'],
       'Komissiya' : ['1%', '2%', '0%', '1%', '1%']}

df = pd.DataFrame(data)
df

   №  Bankin adi Mebleg AZN     Muddet Faiz derecesi Komissiya
0  1         ABB  15000-dek  48 ayadek           18%        1%
1  2  Accessbank  30000-dek  48 ayadek           14%        2%
2  3    AFB bank  30000-dek  48 ayadek           15%        0%
3  4         ASB  20000-dek  36 ayadek           16%        1%
4  5         ATB  30000-dek  48 ayadek           18%        1%

# Assignment 4

qeyd olunan list-in orta deyerin (average) hesablayin

len() ve sum() funksiyalarindan istifade olunmalidir

my_list = [1,2,3,8,7,9]

netice 5 olmalidir

In [13]:
# Solution 4
my_list = [1,2,3,8,7,9]
average = sum(my_list) / len(my_list)
print(average)

5.0